<h1>餐廳列表</h1>

<ul>
<% @restaurants.each do |restaurant| %>
  <li>
    <%# 這一種寫法不好，感覺硬揍的寫法。 <%= link_to restaurant.title, "/restaurants/#{restaurant.id}" %>  
    <%# 同上 <%= link_to restaurant.title, restaurant_path(restaurant.id) %>  
    <%= link_to restaurant.title, restaurant_path(restaurant) %>  
    <%= link_to restaurant.title, restaurant %>  
  </li>
<% end %>
</ul>
  

<%= link_to '新增餐廳', new_restaurant_path  %>

