<h1>
  <%= @restaurant.title %>
  <div id="like-btn" data-id="<%= @restaurant.id %>" class="like-btn <%= 'like-btn-favorited' if user_signed_in? && current_user.like?(@restaurant) %>"></div>
</h1>

<h3>留言</h3>
<%# # POST /comments

<%# <%= form_with(model: @comment, url: restaurant_comments_path(@restaurant)) do |form| %>
<%#   <div class ="field">
<%#     <%= form.label :content, '留言內容 with' %>
<%#     <%= form.text_area :content %>
<%#   </div>  
<%#   <%= form.submit %>
<%# <% end %>

<%= form_for(@comment, url: restaurant_comments_path(@restaurant),remote: true) do |form| %>
  <div class ="field">
    <%= form.label :content, '留言內容 for' %>
    <%= form.text_area :content %>
  </div>  
  <%= form.submit %>
<% end %>

<ul id="comment_area">
<% @comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
</ul>

<%= link_to '返回餐廳列表', restaurants_path %>
